* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #484848;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  background: url(wait.jpg) bottom left no-repeat;
  background-color: orangered;
  background-blend-mode: multiply;

  position: relative;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.ball {
  width: 100px;
  height: 100px;
  background-color: azure;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.bat {
  border: 2px solid #484848;
  width: 20px;
  height: 120px;
  background-color: azure;

  position: absolute;
  top: 50px;
  left: 50px;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
.hit h1 {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  transform: translateY(-200px);
}
